:root {
    --AthensGray: #F4F5F7;
    --BostonBlue: #3B8DB0;
    --Iron: #cdced0;
    --White: #fff;
    --JungleMist: #C1D1D8;
    --Nepal: #99b7c5;
    --Bombay: #B7B8BA;
    --Abbey: #4E4E50;
    --Boulder: #7C7C7C;

    --InputColor: var(--Boulder);
}

.tab {
    display: flex;
    justify-content: space-around;

    background-color: var(--AthensGray);
}

.tab__item {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;

    background-color: var(--AthensGray);
    color: var(--Nepal);
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    border-bottom: 5px solid var(--Iron);
}

.tab__item:hover {
    color: var(--BostonBlue);
    border-bottom: 5px solid var(--BostonBlue);
}

.tab__item--active {
    color: var(--BostonBlue);
    border-bottom: 5px solid var(--BostonBlue);
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: block;
}